services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: image-gallery-backend
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app:cached
      - /app/node_modules
    environment:
      CHOKIDAR_USEPOLLING: "true"
    networks:
      - appnet

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: image-gallery-frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app:cached
      - /app/node_modules
    environment:
      CHOKIDAR_USEPOLLING: "true"
    depends_on:
      - backend
    networks:
      - appnet

networks:
  appnet:
    driver: bridge
