services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: image-gallery-backend
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app:cached
      - /app/node_modules
    environment:
      UNSPLASH_CLIENT_ID: ${UNSPLASH_CLIENT_ID}
      UNSPLASH_CLIENT_SECRET: ${UNSPLASH_CLIENT_SECRET}
      FRONTEND_URL: http://localhost:5173
      APP_PORT: 3000
      CHOKIDAR_USEPOLLING: "true"
    networks:
      - appnet

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: image-gallery-frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app:cached
      - /app/node_modules
    environment:
      VITE_APP_BACKEND_URL: http://backend:3000
      VITE_UNSPLASH_CLIENT_ID: ${UNSPLASH_CLIENT_ID}
      VITE_UNSPLASH_REDIRECT_URI: http://backend:3000/auth/callback
      CHOKIDAR_USEPOLLING: "true"
    depends_on:
      - backend
    networks:
      - appnet

networks:
  appnet:
    driver: bridge
