/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --background-color: #faf8ef;
  --cell-background-color: #f0f0f0;
  --cell-border-color: #ccc;
  --font-family: Arial, sans-serif;

  /* Numbers GREEN: */
  --cell-background-num2: #effef1;
  --cell-background-num4: #dafedf;
  --cell-background-num8: #b7fbc2;
  --cell-background-num16: #7ff693;
  --cell-background-num32: #5ceb74;
  --cell-background-num64: #17d037;
  --cell-background-num128: #0dac29;
  --cell-background-num256: #0e8723;
  --cell-background-num512: #116a21;
  --cell-background-num1024: #10571e;
  --cell-background-num2048: #02310d;
  --cell-font-color2-64: #10571E;
  --cell-font-color128-2048: #DAFEDF;

  /* Numbers YELLOW: */
  /* --cell-background-num2: #fcfcea;
  --cell-background-num4: #faf8c7;
  --cell-background-num8: #f5ee93;
  --cell-background-num16: #efde52;
  --cell-background-num32: #e9cc26;
  --cell-background-num64: #d9b419;
  --cell-background-num128: #bb8e13;
  --cell-background-num256: #956713;
  --cell-background-num512: #7c5117;
  --cell-background-num1024: #6a4319;
  --cell-background-num2048: #3d240b;
  --cell-font-color2-64: #6A4319;
  --cell-font-color128-2048: #FAF8C7; */
}

body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  padding: 20px;
  font-family: var(--font-family);
}

#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
  max-width: 600px;
  background-color: var(--background-color);
}

#game-container h1 {
  margin-bottom: 20px;
  font-size: clamp(1.8rem, 4vw, 3rem);
  color: #776e65;
}

#text-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#score-container, #best-score-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  font-size: clamp(1.2rem, 3vw, 2rem);
  color: #776e65;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 8px;
  width: min(90vw, 90vh);
  height: min(90vw, 90vh);
  aspect-ratio: 1 / 1;
  max-width: 600px;
  max-height: 600px;
}

#restart-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.5rem;
  background-color: #8f7a66;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#restart-button:hover {
  background-color: #776e65;
}

.cell {
  background-color: var(--cell-background-color);
  border: 1px solid var(--cell-border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(1.5rem, 5vw, 4rem);
  aspect-ratio: 1 / 1;
}

.num2 {
  color: var(--cell-font-color2-64);
  background-color: var(--cell-background-num2);
}

.num4 {
  color: var(--cell-font-color2-64);
  background-color: var(--cell-background-num4);
}

.num8 {
  color: var(--cell-font-color2-64);
  background-color: var(--cell-background-num8);
}

.num16 {
  color: var(--cell-font-color2-64);
  background-color: var(--cell-background-num16);
}

.num32 {
  color: var(--cell-font-color2-64);
  background-color: var(--cell-background-num32);
}

.num64 {
  color: var(--cell-font-color2-64);
  background-color: var(--cell-background-num64);
}

.num128 {
  color: var(--cell-font-color128-2048);
  background-color: var(--cell-background-num128);
}

.num256 {
  color: #FAF8C7;
  background-color: var(--cell-background-num256);
}

.num512 {
  color: #FAF8C7;
  background-color: var(--cell-background-num512);
}

.num1024 {
  color: #FAF8C7;
  background-color: var(--cell-background-num1024);
}

.num2048 {
  color: #FAF8C7;
  background-color: var(--cell-background-num2048);
}

/* Animation for shake effect */
.shake-up {
  animation: shakeUp 0.3s;
}

.shake-down {
  animation: shakeDown 0.3s;
}

.shake-left {
  animation: shakeLeft 0.3s;
}

.shake-right {
  animation: shakeRight 0.3s;
}

@keyframes shakeUp {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes shakeDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

@keyframes shakeLeft {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
}

@keyframes shakeRight {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
}

/* Animation for new number spawn */
.spawn {
  animation: pop 400ms ease-out;
}

@keyframes pop {
  0% {
    transform: scale(0);
    opacity: 0.2;
  }
  70% {
    transform: scale(1.15);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

/* MODAL */
.modal {
    display: none; /* Ocultamos la modal por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 50%;
}

@media (max-width: 768px) {
  .modal-content {
    max-width: 90%;
  }
}

.modal-content h2 {
  color: var(--cell-background-num128);
  font-size: clamp(1.8rem, 4vw, 3rem);
  text-align: center;
  margin-bottom: 2rem;
}

.modal-content p {
  color: var(--cell-background-num1024);
  font-size: clamp(1.4rem, 3vw, 2rem);
}

#modal-score-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover, .close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}