/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --background-color: #faf8ef;
  --cell-background-color: #f0f0f0;
  --cell-border-color: #ccc;
  --font-family: Arial, sans-serif;
}

body {
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  margin: 0;
  font-family: var(--font-family);
}

#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  max-height: 100dvh;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 8px;
  width: auto;
  height: 100%;
}

.cell {
  background-color: var(--cell-background-color);
  border: 1px solid var(--cell-border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  box-sizing: border-box;
  max-width: 20dvw;
  aspect-ratio: 1 / 1;
}
